<form action="/register" method="post">
    <label for="Name">Your Name: </label>
    <input type="text" name="Name" placeholder="Enter Name">
    <label for="House">House: </label>
    <select name="House" id="House">
        <option value="Gryffindor">Gryffindor</option>
        <option value="Ravenclaw">Ravenclaw</option>
        <option value="Slytherin">Slytherin</option>
        <option value="Hufflepuff">Hufflepuff</option>
    </select>
    <label for="CurrentYear">Year: </label>
    <input type="number" name="CurrentYear" id="CurrentYear">
    <button type="submit">Submit</button>
</form>